.vscode/**
.github/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.editorconfig
**/.prettier
**/*.map
**/*.ts
node_modules/**
resources/icon.psd
