# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Publish

on:
  push:
    tags:
      - v*
jobs:
  publish:
    name: Publish VS Code Extension
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Tag
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.push.ref }}
    - name: Use Node.js 16.*
      uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
    - name: Install NPM Packages
      run: |
        sudo apt-get remove nodejs
        sudo apt-get remove npm
        sudo rm -rf ~/.npm
        sudo rm -rf /usr/local/lib/node_modules
        curl -0 -L https://npmjs.org/install.sh | sudo sh
        npm -v
        npm ci
        npm install -g vsce ovsx npx
    - run: vsce publish -p ${{ secrets.VSCE_TOKEN }}
    - name: Generate Package and Create Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        vsce package
        file=$(realpath $(ls -t *.vsix | head -1))
        ovsx publish $file -p ${{ secrets.OVSX_TOKEN }}
        gh release create '${{ github.ref_name }}' -n "See [Changelog](https://github.com/Serhioromano/vscode-gitflow/blob/master/CHANGELOG.md) for details."  $file
